---
http_interactions:
- request:
    method: get
    uri: http://www.openligadb.de/Webservices/Sportsdata.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://msiggi.de/Sportsdata/Webservices\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://msiggi.de/Sportsdata/Webservices\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://msiggi.de/Sportsdata/Webservices\">\r\n
        \     <s:element name=\"GetAvailLeagues\">\r\n        <s:complexType />\r\n
        \     </s:element>\r\n      <s:element name=\"GetAvailLeaguesResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"GetAvailLeaguesResult\" type=\"tns:ArrayOfLeague\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:complexType name=\"ArrayOfLeague\">\r\n        <s:sequence>\r\n          <s:element
        minOccurs=\"0\" maxOccurs=\"unbounded\" name=\"League\" type=\"tns:League\"
        />\r\n        </s:sequence>\r\n      </s:complexType>\r\n      <s:complexType
        name[...]
- request:
    method: post
    uri: http://www.openligadb.de/Webservices/Sportsdata.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://msiggi.de/Sportsdata/Webservices"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://msiggi.de/Sportsdata/Webservices"><env:Body><ins0:GetMatchdataByLeagueSaison><ins0:leagueShortcut>em12</ins0:leagueShortcut><ins0:leagueSaison>2012</ins0:leagueSaison></ins0:GetMatchdataByLeagueSaison></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http://msiggi.de/Sportsdata/Webservices/GetMatchdataByLeagueSaison"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetMatchdataByLeagueSaisonResponse
        xmlns="http://msiggi.de/Sportsdata/Webservices"><GetMatchdataByLeagueSaisonResult><Matchdata><matchID>18795</matchID><matchDateTime>2012-06-08T18:00:00</matchDateTime><TimeZoneID>W.
        Europe Standard Time</TimeZoneID><matchDateTimeUTC>2012-06-08T16:00:00Z</matchDateTimeUTC><groupID>2959</groupID><groupOrderID>1</groupOrderID><groupName>Vorrunde</groupName><leagueID>429</leagueID><leagueName>EM
        2012</leagueName><leagueSaison>2012</leagueSaison><leagueShortcut>em12</leagueShortcut><nameTeam1>Polen</nameTeam1><nameTeam2>Griechenland</nameTeam2><idTeam1>148</idTeam1><idTeam2>142</idTeam2><iconUrlTeam1>http://www.openligadb.de/images/teamicons/Polen.gif</iconUrlTeam1><iconUrlTeam2>http://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Greece.svg/20px-Flag_of_Greece.svg.png</iconUrlTeam2><pointsTeam1>-1</pointsTeam1><pointsTeam2>-1</pointsTeam2><lastUpdate>2012-05-10T13:55:19.407</lastUpdate><matchIsFinished>false</matchIsFinished><matchResults
        /><goals /><location><locationID>519</locationID><locationCity>Warschau</locationCity><locationStadium>Nationalstadion
        Warschau</locationStadium></location><NumberOfViewers xsi:nil="true" /></Matchdata><Matchdata><matchID>18796</matchID><matchDateTime>2012-06-08T20:45:00</matchDateTime><TimeZoneID>W.
        Europe Standard Time</TimeZoneID><matchDateTimeUTC>2012-06-08T18:45:00Z</matchDateTimeUTC><groupID>2959</groupID><groupOrderID>1</groupOrderID><groupName>Vorrunde</groupName><leagueID>429</leagueID><leagueName>EM
        2012</leagueName><leagueSaison>2012</leagueSaison><leagueShortcut>em12</leagueShortcut><nameTeam1>Russland</nameTeam1><nameTeam2>Tschechien</n[...]
