<h1>Deine Tipps</h1>
<p>Alle Spiele und deine Tipps dazu</p>
<p>
  <%= link_to "Jetzt neue Ergebnisse tippen", edit_user_tips_path(@user) %>
</p>

<h2>Vorrunde</h2>
<ul class="preliminary">
  <% @preliminaries.each do |group, matches| %>
    <%= render :partial => "group", :locals => { :matches => matches, :group => group, :level => 3 } %>
  <% end %>
</ul>
<ul class="final">
  <% @finals.each do |round, matches| %>
    <%= render :partial => "group", :locals => { :matches => matches, :group => round, :level => 2 } %>
  <% end %>
</ul>